<section class="pagination">
    
    <% if (hasPreviousPage) { %>
        <a href="?page=<%= previousPage %>"><<</a>
    <% } else{ %>
        <a href="?page=<%= previousPage %>" style="pointer-events: none"><<</a>
    <%}%>
    <% for(var i=1; i <= 10 ; i++) {%>
        <% 
            if (lastPage >= i) { 
                if (i==currentPage){
        %>
                    <a href="?page=<%= currentPage %>" class="active"><%= currentPage %></a>
                <%}else{%>
                    <a href="?page=<%= i %>"><%= i %></a>
        <% }} else{
            break;
        }%>
        
    <% } %>

    <!-- <a href="?page=<%= currentPage %>" class="active"><%= currentPage %></a> -->

    <% if (lastPage !== currentPage && nextPage !== lastPage &&lastPage>12) { %>
        ... 
        <a href="?page=<%= lastPage %>"> <%= lastPage %></a>
    <% } %>
    <% if (hasNextPage) { %>
        <a href="?page=<%= nextPage %>"> >> </a>
    <% } else{ %>
        <a href="?page=<%= nextPage %>" style="pointer-events: none">>></a>
    <%}%>
    
</section>